@font-face {
    font-family: Poppins;
    src: url(Poppins.woff2);
}

html, body {
    background-color: black;
    /* overflow: hidden; */
}

img {
    width: 174px;
    height: 66px;
}

.container {
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-size: 30px;
    color: #7cda24;
}

.total-mints {
    margin-bottom: 0;
}

#progress {
    width: 100%;
    background-color: white;
}
  
#bar {
    width: 1%;
    height: 30px;
    background-color: #7cda24;
}

.bar-details {
    display: flex;
    font-size: 24px;
    flex-direction: row;
    justify-content: space-between;
}

.bar-percent {
    margin: 0;
    float: right;
}

.bar-timer {
    color: white;
    margin: 0;
}

.footer {
    font-size: 20px;
    color: white;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    position: absolute;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

@media (max-width:900px){
    .total-mints {
        font-size: 26px;
    }
    .bar-details {
        font-size: 20px;
    }
}

@media (max-width:572px) {
    img {
        width: 116px;
        height: 44px;
    }
    .total-mints {
        font-size: 24px;
    }
    .bar-details {
        font-size: 18px;
    }
}

@media (max-width:432px) {
    img {
        width: 116px;
        height: 44px;
    }
    .total-mints {
        font-size: 22px;
    }
    .bar-details {
        font-size: 16px;
    }
}

@media (max-width:330px) {
    img {
        width: 116px;
        height: 44px;
    }
    .total-mints {
        font-size: 20px;
    }
    .bar-details {
        font-size: 14px;
    }
}

@media (max-width:718px) {
    .footer {
        font-size: 15px;
    }
}

@media (max-width:540px) {
    .footer {
        font-size: 13px;
    }
}

@media (max-width:465px) {
    .footer {
        font-size: 10px;
    }
}

@media (max-width:360px) {
    .footer {
        font-size: 8px;
    }
}